In [9]:
import pandas as pd

df = pd.DataFrame(pd.read_pickle('../final_project/final_project_dataset_unix2dos.pkl')).T
print(df.shape)

(146, 21)

In [10]:
print(sum(df.poi==1))

18

In [11]:
pois=pd.read_csv('../final_project/poi_names.txt')
print(len(pois))

35

In [12]:
print(df.loc['PRENTICE JAMES'].total_stock_value)

1095040

In [13]:
print(df.loc['COLWELL WESLEY'].from_this_person_to_poi)

11

In [14]:
print(df.loc['SKILLING JEFFREY K'].exercised_stock_options)

19250000

In [15]:
display(df.loc['LAY KENNETH L'].total_payments)

103559793

In [16]:
df.columns.tolist()

['bonus',
 'deferral_payments',
 'deferred_income',
 'director_fees',
 'email_address',
 'exercised_stock_options',
 'expenses',
 'from_messages',
 'from_poi_to_this_person',
 'from_this_person_to_poi',
 'loan_advances',
 'long_term_incentive',
 'other',
 'poi',
 'restricted_stock',
 'restricted_stock_deferred',
 'salary',
 'shared_receipt_with_poi',
 'to_messages',
 'total_payments',
 'total_stock_value']

In [17]:
len(df[df.salary != 'NaN'])

95

In [18]:
len(df[df.email_address != 'NaN'])

111

In [44]:
len(df[df.total_payments == 'NaN'])/len(df.total_payments)*100

14.383561643835616

In [47]:
len(df[(df.total_payments == 'NaN') & (df.poi == True)])/len(df.total_payments)*100

0.0

In [46]:
df[(df.total_payments == 'NaN') & (df.poi == True)]

Empty DataFrame
Columns: [bonus, deferral_payments, deferred_income, director_fees, email_address, exercised_stock_options, expenses, from_messages, from_poi_to_this_person, from_this_person_to_poi, loan_advances, long_term_incentive, other, poi, restricted_stock, restricted_stock_deferred, salary, shared_receipt_with_poi, to_messages, total_payments, total_stock_value]
Index: []

[0 rows x 21 columns]

In [48]:
df[(df.total_payments == 'NaN')]

,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,...,long_term_incentive,other,poi,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
CORDES WILLIAM R,NaN,NaN,NaN,NaN,bill.cordes@enron.com,651850,NaN,12,10,0,...,NaN,NaN,False,386335,NaN,NaN,58,764,NaN,1038185
LOWRY CHARLES P,NaN,NaN,NaN,NaN,NaN,372205,NaN,NaN,NaN,NaN,...,NaN,NaN,False,153686,-153686,NaN,NaN,NaN,NaN,372205
CHAN RONNIE,NaN,NaN,-98784,98784,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,False,32460,-32460,NaN,NaN,NaN,NaN,NaN
WHALEY DAVID A,NaN,NaN,NaN,NaN,NaN,98718,NaN,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,98718
CLINE KENNETH W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,False,662086,-472568,NaN,NaN,NaN,NaN,189518
LEWIS RICHARD,NaN,NaN,NaN,NaN,richard.lewis@enron.com,850477,NaN,26,10,0,...,NaN,NaN,False,NaN,NaN,NaN,739,952,NaN,850477
POWERS WILLIAM,NaN,NaN,-17500,17500,ken.powers@enron.com,NaN,NaN,26,0,0,...,NaN,NaN,False,NaN,NaN,NaN,12,653,NaN,NaN
PIRO JIM,NaN,NaN,NaN,NaN,jim.piro@enron.com,NaN,NaN,16,0,1,...,NaN,NaN,False,47304,NaN,NaN,3,58,NaN,47304
WROBEL BRUCE,NaN,NaN,NaN,NaN,NaN,139130,NaN,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,139130
MCDONALD REBECCA,NaN,NaN,NaN,NaN,rebecca.mcdonald@enron.com,757301,NaN,13,54,1,...,NaN,NaN,False,934065,NaN,NaN,720,894,NaN,1691366
GATHMANN WILLIAM D,NaN,NaN,NaN,NaN,NaN,1753766,NaN,NaN,NaN,NaN,...,NaN,NaN,False,264013,-72419,NaN,NaN,NaN,NaN,1945360
GILLIS JOHN,NaN,NaN,NaN,NaN,NaN,9803,NaN,NaN,NaN,NaN,...,NaN,NaN,False,75838,NaN,NaN,NaN,NaN,NaN,85641
MORAN MICHAEL P,NaN,NaN,NaN,NaN,michael.moran@enron.com,59539,NaN,19,0,0,...,NaN,NaN,False,161602,NaN,NaN,127,672,NaN,221141
LOCKHART EUGENE E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SHERRICK JEFFREY B,NaN,NaN,NaN,NaN,jeffrey.sherrick@enron.com,1426469,NaN,25,39,18,...,NaN,NaN,False,405999,NaN,NaN,583,613,NaN,1832468
FOWLER PEGGY,NaN,NaN,NaN,NaN,kulvinder.fowler@enron.com,1324578,NaN,36,0,0,...,NaN,NaN,False,560170,NaN,NaN,10,517,NaN,1884748
CHRISTODOULOU DIOMEDES,NaN,NaN,NaN,NaN,diomedes.christodoulou@enron.com,5127155,NaN,NaN,NaN,NaN,...,NaN,NaN,False,950730,NaN,NaN,NaN,NaN,NaN,6077885
HUGHES JAMES A,NaN,NaN,NaN,NaN,james.hughes@enron.com,754966,NaN,34,35,5,...,NaN,NaN,False,363428,NaN,NaN,589,719,NaN,1118394
HAYSLETT RODERICK J,NaN,NaN,NaN,NaN,rod.hayslett@enron.com,NaN,NaN,1061,35,38,...,NaN,NaN,False,346663,NaN,NaN,571,2649,NaN,346663
MCCARTY DANNY J,NaN,NaN,NaN,NaN,danny.mccarty@enron.com,664375,NaN,215,25,2,...,NaN,NaN,False,94556,NaN,NaN,508,1433,NaN,758931
SCRIMSHAW MATTHEW,NaN,NaN,NaN,NaN,matthew.scrimshaw@enron.com,759557,NaN,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,759557