# Enron Email Dataset Mini-Project

Datasets and Questions Mini-Project
---
The Enron fraud is a big, messy and totally fascinating story about corporate malfeasance of nearly every imaginable type. The Enron email and financial datasets are also big, messy treasure troves of information, which become much more useful once you know your way around them a bit. We’ve combined the email and finance data into a single dataset, which you’ll explore in this mini-project.

Quizzes: Size of the Enron Dataset and Features in the Enron Dataset
--
The aggregated Enron email + financial dataset is stored in a dictionary, where each key in the dictionary is a person’s name and the value is a dictionary containing all the features of that person.
The email + finance (E+F) data dictionary is stored as a pickle file, which is a handy way to store and load python objects directly. Use datasets_questions/explore_enron_data.py to load the dataset.

How many data points (people) are in the dataset? And for each person, how many features are available?

In [1]:
import pandas as pd

df = pd.DataFrame(pd.read_pickle('../final_project/final_project_dataset_unix2dos.pkl')).T
print('There\'re {} data points (i.e. people) and are avaiable {} features for each person.'.format(*df.shape))

There're 146 data points (i.e. people) and are avaiable 21 features for each person.

After load the dataset, I've started exploring dataset features.

In [2]:
df.columns.tolist()

['bonus',
 'deferral_payments',
 'deferred_income',
 'director_fees',
 'email_address',
 'exercised_stock_options',
 'expenses',
 'from_messages',
 'from_poi_to_this_person',
 'from_this_person_to_poi',
 'loan_advances',
 'long_term_incentive',
 'other',
 'poi',
 'restricted_stock',
 'restricted_stock_deferred',
 'salary',
 'shared_receipt_with_poi',
 'to_messages',
 'total_payments',
 'total_stock_value']

Quiz: Finding POIs in the Enron Data
--
The "poi" feature records whether the person is a person of interest, according to our definition. 

How many POIs are there in the E+F dataset?

In [3]:
num_pois = sum(df.poi==1)
print('There\'re {} POIs in the dataset.'.format(num_pois))

There're 18 POIs in the dataset.

Quiz: How Many POIs Exist?
--
We compiled a list of all POI names (in ../final_project/poi_names.txt) and associated email addresses (in ../final_project/poi_email_addresses.py).

How many POI’s were there total?

In [4]:
pois=pd.read_csv('../final_project/poi_names.txt')

print('There\'re {} POIs in total.'.format(len(pois)))

There're 35 POIs in total.

Quiz: Query the Dataset 1
--
What is the total value of the stock belonging to James Prentice?

In [5]:
print('The total value of the stock belonging to James Prentice is {}.'.format(df.loc['PRENTICE JAMES'].total_stock_value))

The total value of the stock belonging to James Prentice is 1095040.

Quiz: Query the Dataset 2
--
How many email messages do we have from Wesley Colwell to persons of interest?

In [6]:
print('We have {} email messages from Wesley Colwell to persons of interest.'.format(df.loc['COLWELL WESLEY'].from_this_person_to_poi))

We have 11 email messages from Wesley Colwell to persons of interest.

Quiz: Query the Dataset 3
--
What’s the value of stock options exercised by Jeffrey K Skilling?

In [7]:
print('The value of stock options exercised by Jeffrey K Skilling is equals to {}.'.format(df.loc['SKILLING JEFFREY K'].exercised_stock_options))

The value of stock options exercised by Jeffrey K Skilling is equals to 19250000.

Quiz: Follow the Money
--
Of these three individuals (Lay, Skilling and Fastow), who took home the most money (largest value of ``total_payments`` feature)?

How much money did that person get?

In [8]:
total_payments = [df.loc['SKILLING JEFFREY K'].total_payments, \
                  df.loc['LAY KENNETH L'].total_payments, df.loc['FASTOW ANDREW S'].total_payments]
print('Jeffrey Skilling\'s total payments: {}'.format(df.loc['SKILLING JEFFREY K'].total_payments))
print('Kenneth Lay\'s total payments: {}'.format(df.loc['LAY KENNETH L'].total_payments))
print('Andrew Fastow\'s total payments: {}'.format(df.loc['FASTOW ANDREW S'].total_payments))
print('And clearly, Kenneth Lay was who took home the most money.'.format(df.loc['LAY KENNETH L'].total_payments))

Jeffrey Skilling's total payments: 8682716
Kenneth Lay's total payments: 103559793
Andrew Fastow's total payments: 2424083
And clearly, Kenneth Lay was who took home the most money.

Quiz: Dealing with Unfilled Features
--
How many folks in this dataset have a quantified salary? What about a known email address?

In [9]:
display(df[df.salary != 'NaN'].head())
display(df[df.email_address != 'NaN'].head())
print('{} folks in this dataset have a quantified salary and {} has a known email address.'\
      .format(len(df[df.salary != 'NaN']), len(df[df.email_address != 'NaN'])))

,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,...,long_term_incentive,other,poi,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
METTS MARK,600000,NaN,NaN,NaN,mark.metts@enron.com,NaN,94299,29,38,1,...,NaN,1740,False,585062,NaN,365788,702,807,1061827,585062
BAXTER JOHN C,1200000,1295738,-1386055,NaN,NaN,6680544,11200,NaN,NaN,NaN,...,1586055,2660303,False,3942714,NaN,267102,NaN,NaN,5634343,10623258
ELLIOTT STEVEN,350000,NaN,-400729,NaN,steven.elliott@enron.com,4890344,78552,NaN,NaN,NaN,...,NaN,12961,False,1788391,NaN,170941,NaN,NaN,211725,6678735
HANNON KEVIN P,1500000,NaN,-3117011,NaN,kevin.hannon@enron.com,5538001,34039,32,32,21,...,1617011,11350,True,853064,NaN,243293,1035,1045,288682,6391065
MORDAUNT KRISTINA M,325000,NaN,NaN,NaN,kristina.mordaunt@enron.com,NaN,35018,NaN,NaN,NaN,...,NaN,1411,False,208510,NaN,267093,NaN,NaN,628522,208510

,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,...,long_term_incentive,other,poi,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
METTS MARK,600000,NaN,NaN,NaN,mark.metts@enron.com,NaN,94299,29,38,1,...,NaN,1740,False,585062,NaN,365788,702,807,1061827,585062
ELLIOTT STEVEN,350000,NaN,-400729,NaN,steven.elliott@enron.com,4890344,78552,NaN,NaN,NaN,...,NaN,12961,False,1788391,NaN,170941,NaN,NaN,211725,6678735
CORDES WILLIAM R,NaN,NaN,NaN,NaN,bill.cordes@enron.com,651850,NaN,12,10,0,...,NaN,NaN,False,386335,NaN,NaN,58,764,NaN,1038185
HANNON KEVIN P,1500000,NaN,-3117011,NaN,kevin.hannon@enron.com,5538001,34039,32,32,21,...,1617011,11350,True,853064,NaN,243293,1035,1045,288682,6391065
MORDAUNT KRISTINA M,325000,NaN,NaN,NaN,kristina.mordaunt@enron.com,NaN,35018,NaN,NaN,NaN,...,NaN,1411,False,208510,NaN,267093,NaN,NaN,628522,208510

95 folks in this dataset have a quantified salary and 111 has a known email address.

Quiz: Missing POIs 1
--
How many people in the E+F dataset (as it currently exists) have “NaN” for their total payments? What percentage of people in the dataset as a whole is this?

In [10]:
display(df[df.total_payments == 'NaN'].head())
num_total_payments_nan = len(df[df.total_payments == 'NaN'])
print('{}% of people in the dataset have "NaN" for their payments.'\
     .format(round(num_total_payments_nan/len(df.total_payments)*100)))

,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,...,long_term_incentive,other,poi,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
CORDES WILLIAM R,NaN,NaN,NaN,NaN,bill.cordes@enron.com,651850,NaN,12,10,0,...,NaN,NaN,False,386335,NaN,NaN,58,764,NaN,1038185
LOWRY CHARLES P,NaN,NaN,NaN,NaN,NaN,372205,NaN,NaN,NaN,NaN,...,NaN,NaN,False,153686,-153686,NaN,NaN,NaN,NaN,372205
CHAN RONNIE,NaN,NaN,-98784,98784,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,False,32460,-32460,NaN,NaN,NaN,NaN,NaN
WHALEY DAVID A,NaN,NaN,NaN,NaN,NaN,98718,NaN,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,98718
CLINE KENNETH W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,False,662086,-472568,NaN,NaN,NaN,NaN,189518

14% of people in the dataset have "NaN" for their payments.

Quiz: Missing POIs 2
--
How many POIs in the E+F dataset have “NaN” for their total payments? What percentage of POI’s as a whole is this?

In [11]:
total_payments_nan_and_poi = df[(df.total_payments == 'NaN') & (df.poi == True)]
display(total_payments_nan_and_poi)

num_total_payments_nan_and_poi = len(total_payments_nan_and_poi)
print('{}% of POIs in the E+F dataset have "NaN" for their total payments.'\
      .format(num_total_payments_nan_and_poi/len(df.total_payments)*100))

Empty DataFrame
Columns: [bonus, deferral_payments, deferred_income, director_fees, email_address, exercised_stock_options, expenses, from_messages, from_poi_to_this_person, from_this_person_to_poi, loan_advances, long_term_incentive, other, poi, restricted_stock, restricted_stock_deferred, salary, shared_receipt_with_poi, to_messages, total_payments, total_stock_value]
Index: []

[0 rows x 21 columns]

0.0% of POIs in the E+F dataset have "NaN" for their total payments.

Quiz: Missing POIs 4
--
If you added in, say, 10 more data points which were all POI's, and put "NaN" for the total payments for those folks, the numbers you just calculated would change.

What is the new number of people of the dataset? What is the new number of folks with "NaN" for total payments?

In [12]:
num_new_pois = 10
print('The dataset has now {} data points and the number of folks with "NaN" for total payments is equals to {}.'\
      .format(len(df) + num_new_pois, num_total_payments_nan + num_new_pois))

The dataset has now 156 data points and the number of folks with "NaN" for total payments is equals to 31.

Quiz: Missing POIs 5
--
What is the new number of POI’s in the dataset? What is the new number of POI’s with NaN for total_payments?

In [13]:
print('The new number of POI’s in the dataset is {} and the new number of POI\'s with NaN for total_payments is {}.'\
     .format(num_pois + num_new_pois, num_total_payments_nan_and_poi + num_new_pois))

The new number of POI’s in the dataset is 28 and the new number of POI's with NaN for total_payments is 10.